@import url('https://fonts.googleapis.com/css?family=Varela+Round');

section {
    font-family: 'Varela Round', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    color: rgb(201, 0, 0) !important;
    font-family: 'Varela Round', sans-serif !important;
    text-transform: inherit !important;
}

a {
    color: rgb(201, 0, 0) !important;
}

.index {
    font-size: 29px !important;
}

p {
    text-align: left;
}

.reveal .slide-number {
    background-color: transparent;
    font-size: 20px;
}

.reveal .controls .navigate-right .controls-arrow {
    margin-bottom: 30px;
}

.reveal .controls .navigate-left .controls-arrow {
    margin-bottom: 30px;
}

.slides {
    width: 90% !important;
}